*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    
    font-family:'work sans',sans-serif,system-ui;
}

.navbar-brand{
    color:black;
    font-size:20px;
    font-weight:bold;
    margin-left:3px;
    padding-top: 10px;
}

.nav-logo-icon{
    box-sizing: border-box;
    padding:4px;
    min-height:35px;
    min-width: 39px;
    margin-right:5px;
    background-color:rgb(0, 109, 188);
    border-radius:9px;

}


.nav-icon-hover {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    width: 40px;

    height: 40px;

    border-radius: 10px;

    cursor: pointer;

    transition: background-color 0.25s ease-in-out;
}

.nav-icon-hover:hover {

    background-color: #ced2d3;
}





.StyleSphere-Homepage{
    height:100vh;
    
    background-image:linear-gradient(to right,rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url("https://wallpapers.com/images/high/fashion-store-display-i5s6es944n29q9sp.webp");
    /* background-image:url("https://pub-141831e61e69445289222976a15b6fb3.r2.dev/Image_to_url_V2/stylesphere-bg-imagetourl.cloud-1770805128721-lq0s2o.jpg"); */
    background-size:cover;
}
.Homepage-text-container{
    
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
    height:100%;
    gap:30px;
}
.homepage-textblock-1{
    height:30px;
    width:170px;
    background-color:skyblue;
    border-radius:20px;
    text-align:center;
    padding-top:4px;
    
}
.home-textblock-description{
    color:white;
    font-size:15px;
}
.home-heading{
    color:white;
    font-size:55px;
    font-weight:bold
}
.home-description{
    color:rgb(254, 248, 248);
    font-size:19px;
    font-weight: 00;

}
.homepage-button{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 47px;
    width:160px;
    background-color:skyblue;
    border-radius:10px;
    color:white;
    font-size:18px;
    font-weight:200;
    border-width:0px;
    margin-right:10px;
}
.homepage-button2{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 47px;
    width:160px;
    background-color: transparent;
    border-radius:10px;
   
    color:white;
    font-size:18px;
    font-weight:400;
    border-width:2px;
    border-style:solid;
    border-color: aliceblue;
}



.shopbycategory-bg-container{
   
}
.ShopByCategory-page{
    min-height:100vh;
}
.shopbycategory-heading{
    color:black;
    font-size:35px;
    font-weight:bolder;
    text-align:center;
    
}
.shopbycategory-description{
    color:rgb(107, 107, 107);
    font-size:15px;
    font-weight:200;
    text-align:center;
    
}
.shopbycategory-card-container{
    
    min-height:300px;
    width:100%;
    max-width:250px;
    
   background-image:url("https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=600&h=700&fit=crop");
    background-size: cover;
    border-radius:15px;
    margin:15px;

}
.shopbycategory-card-heading{
    color:rgb(255, 255, 255);
    font-size:27px;
    font-weight:bold;
    
    
}
.shopbycategory-card-description{
    color:rgba(255, 255, 255, 0.762);
    font-size:16px;
    font-weight:500;
    
    
}
.shopbycategory-cards-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.shopbycategory-card-container-2{
    min-height:300px;
    width:100%;
    max-width:250px;
    background-image: url("https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?w=600&h=700&fit=crop");
    background-size: cover;
    border-radius:15px;
    margin:15px;

}
.shopbycategory-card-container-3{
   min-height:300px;
    width:100%;
    max-width:250px;
    background-image: url("https://thumbs.dreamstime.com/b/watchmaker-repairing-luxury-watch-workbench-using-tools-to-repair-wooden-419559033.jpg");
    background-size: cover;
    border-radius:15px;
    margin:15px;

}
.shopbycategory-card-container-4{
   min-height:300px;
    width:100%;
    max-width:250px; 
    background-image: url("https://images.unsplash.com/photo-1542291026-7eec264c27ff?w=600&h=700&fit=crop");
    background-size: cover;
    border-radius:15px;
    margin:15px;

}


.featureproduct-heading{
    font-size:35px; 
    font-weight:bold;
    
}
.featureproduct-description{
    font-size:16px;
    font-weight:400;
    color:rgb(122, 132, 139);
    
}
.featureproduct-card-container{
    background-color:white;
    min-height:300px;
    max-width:300px;
    max-height:1000px;
    margin:5px;
    border-radius:19px;
    background-image:url("");
    border:2px solid rgb(255, 255, 255);
    overflow:hidden;
    
    
}
.featureproduct-card-image{
    border-top-left-radius:16px;
    border-top-right-radius:16px;
     
    min-height:350px;
    max-height:350px;
    object-fit: cover;
    
}


.featureproduct-card-title{
    font-size:13px;
    padding-top:5px;
    color:rgb(122, 132, 139);
    font-weight:600 ;
}
.featureproduct-card-heading{
    font-size:19px;
    font-weight:500;
}
.featureproduct-card-description{
    font-size:15px;
    font-weight:400;
    color:rgb(122, 132, 139);
}
.nike-sneaker-span{
    font-size: 13px;
    color:grey;
    text-decoration: line-through;
}


.feature-page-button{

    background-color:rgb(136, 200, 235);
    color:white;
    font-size:14px;
    font-weight:400;
    padding:10px 20px;
    border-radius:10px;
    border:0px ;
    text-align:center;
    height:37px;
 
}

.card-product-new-tag {

    position: absolute;

    top: 10px;

    left: 10px;

    background-color: #00b6de;

    color: white;

    padding: 4px 10px;

    font-size: 12px;

    border-radius: 9px;

    font-weight: 500;

}
.card-product-discount-tag{
    position: absolute;

    top: 10px;

    left: 10px;

    background-color: #f42323;

    color: white;

    padding: 4px 10px;

    font-size: 12px;

    border-radius: 20px;

    font-weight: 500;

}


.product-image-container {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;

}

.wishlist-icon {

    position: absolute;

    top: 12px;

    right: 12px;

    background: white;

    width: 36px;

    height: 36px;

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    opacity: 0;

    transform: scale(0.8);

    transition: 0.3s;

    cursor: pointer;

}


.add-to-cart-overlay {

    position: absolute;

    bottom: 15px;

    left: 50%;

    transform: translateX(-50%) translateY(20px);

    width: 100%;

    display: flex;

    justify-content: center;

    opacity: 0;

    transition: 0.3s;

}


.product-image-container:hover .wishlist-icon {

    opacity: 1;

    transform: scale(1);

}

.product-image-container:hover .add-to-cart-overlay {

    opacity: 1;

    transform: translateX(-50%) translateY(0);

}

.product-image-container img {

    transition: 0.7s;

}

.product-image-container:hover img {

    transform: scale(1.05);

}













.limited-time-offer-section{
   
}


.limited-time-offer-card-container{
    background-image:linear-gradient(to right,rgba(0,0,0,0.6), rgba(0,0,0,0.4)),url("https://images.unsplash.com/photo-1483985988355-763728e1935b?w=1200&h=500&fit=crop");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius:20px;
    width:90%;
    min-height:480px;
    
}

.promo-text-container{
    margin-bottom:15px;
    background-color:rgb(223, 56, 56);
    height:29px;
    width:150px;
    border-radius:14px;
}
.promo-text{
    padding-top:5px;
    text-align:center;
    color:white;
    font-size:12px;
    font-weight:bold;
}
.promo-heading{
    margin-bottom:15px;
    color:white;
    font-size:37px;
    font-weight:bold;
}
.promo-description{
    margin-bottom:15px;
    color:rgb(194, 199, 199);
    font-size:19px;
    font-weight:400;

}
.promo-button{
    background-color:rgb(136, 200, 235);
    color:white;
    font-size:14px;
    font-weight:400;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border:0px ;
    margin-top:15px;
    width:150px;
    height:45px;
}

.hr-line{
    color:rgb(212, 212, 218);
    height:0px;
    /* background-color:rgb(178, 178, 199); */
    border-style: solid;
    border-width:1px;
    width:86vw;
    margin-top:100px;
}
.promo-bottom-text-block{


}
.promo-bottom-heading{
    padding-left:7px;
    font-size:16px;
    font-weight:600;
}
.promo-bottom-description{
    font-size:13px;
    color:grey;
    margin-bottom:30px;
    font-weight:300;
    
}




.footer-section{
    background-color:rgb(240, 240, 240);
}
.footer-heading{
    color:black;
    font-size:19px;
    font-weight:bold
}
.footer-logo-icon{
    
    padding-top:4px;
    padding-bottom:9px;
    padding-left:7px;
    padding-right: 1px;
    min-height:30px;
    margin-right:5px;
    background-color:rgb(0, 109, 188);
    border-radius:9px;
}
.footer-description{
    font-size:15px;
    color:grey;
    margin-top:20px;
    margin-bottom:20px;
}
.footer-social-icon{
    padding:10px;
    background-color:rgba(155, 160, 155, 0.614);
    border-radius:100px;
    margin-right:10px;
    width:40px;
    height:40px;
}
.footer-heading-2{
    color:black;
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}


.footer-description-2{
    font-size:15px;
    color:grey;
    margin-top:20px;
    margin-bottom:5px;
}
.footer-items-section{
    margin-right:100px;
    margin-bottom:50px;
}
.footer-subscribe-button{
    background-color:rgb(15, 152, 226);
    color:white;
    font-size:14px;
    font-weight:300;
    padding:10px 20px;
    border-radius:10px;
    border:0px ;
    width:190px;
    height:37px;
    margin-top:17px;   
}

.footer-hr-line{
    color:rgb(116, 116, 121);
    height:0px;
    /* background-color:rgb(178, 178, 199); */
    border-style: solid;
    border-width:1px;
    width:100vw;
    margin-top:10px;
}



.all-products-heading{
    font-size:35px;
    font-weight:bold;
}
.all-products-description{
    font-size:15px;
    font-weight:400;
    color:rgb(137, 162, 162);
    
}
/* Remove Bootstrap blue focus background */
.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

/* Remove blue background when opened */
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit !important;
}

.product-card-container{
    background-color:white;
    height:90%;
    border-radius:16px;
   margin-bottom:40px;
    
}
.all-products-image-01{
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    width:100%;
    object-fit: contain;
}
.product-card-container-brand{
    font-size:10px;
    font-weight: 500;
    color:rgb(122, 132, 139);
}
.product-card-container-heading{
    font-size:19px;
    font-weight:500;
}
.product-card-container-description{
    font-size:15px; 
    color:rgb(122, 132, 139);
}
.product-card-container-price{
    font-size:15px;
    font-weight:500;
}




.adidas-tshirt1-detials-color1{
    width:28px;height:28px;border-radius:50%;background:white;border:1px solid #ccc;

}
.adidas-tshirt1-detials-color2{
    width:28px;height:28px;border-radius:50%;background:black;border:1px solid #ccc;

}
.adidas-tshirt1-detials-color3{
    width:28px;height:28px;border-radius:50%;background:#0d6efd;border:1px solid #ccc;

}
.adidas-tshirt1-detials-sub-image{
    width:80px; border-radius:8px; border:2px solid #0d6efd;
}



.shopping-cart-page{
    min-height:100vh;
    
    
}
.shopping-cart-page-heading{
    font-size:35px;
    font-weight: bold;
   margin-top:80px;
}

.shopping-cart-icon1-container{
    display:inline-flex;
    align-items: center;
    justify-content: center;

    border-radius:100px;
    background-color:rgb(239, 235, 235);
    height:100px;
    width: 100px;
    margin-bottom:30px;
}
.shopping-cart-empty-content-heading{
    font-size:30px;
    font-weight:600;
    
    
}
.shopping-cart-empty-content-description{
    color:rgb(175, 169, 169);
    font-size:16px;

}